node_modules/
dist/
Thumbs.db
.DS_Store
.gradle
.DS_Store
.sass-cache/
.sass-cache/*
config.rb
.gitignore
build/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
classes/
*.swp
/../Icon
designops/node_modules/

