{{ define "main" }}

{{ if and (isset .Params "imagebg") }}
<article class="post bgimage" style="background-image: url(/img/post/miboky-blog2.jpg)">  
	{{ else }}
	<article class="post">  
{{ end }} 
	<header>  
     <h1>{{ .Title }}</h1>
 </header>
 <footer>
 	{{ if and (isset .Params "author") }}<address>{{ .Params.author }}</address> {{ end }} <time datetime="{{ .Params.date }}">{{ .Date.Day }} de {{ index $.Site.Data.meses (printf "%d" .Date.Month) }} de {{ .Date.Year }} </time>
</time>
	
	{{ with .Params.Tags }}
	<div class="tags">
		<div><span>Publicado en:</span>
			<ul>
				{{ delimit (apply (sort .) "partial" "tag-link" ".") "" "" }}
			</ul>
		</div>
	</div>
	{{ end }}

 </footer>

 <div class="article-body">	 
 	<div class="container">
     {{ .Content }}
 	</div>
 </article>   
 <aside>   
     {{ template "_internal/disqus.html" . }}
 </aside>
 </div>

</div>
{{ end }}


