<footer class="footer">
	<section class="container">
		<div>
			<img src="https://miboky.es/assets/MVP/logoMibokyMini-da8e7f4e0f44c3c5283f449d6e5f1c8e.svg" alt="Miboky" class="logoFooter">
			<p>© 2017-2019 Miboky</p>
		</div>
		<div>
			<h1>
			   Contacta con nosotros
			</h1>
		    <p>
		    	Si quieres hacernos alguna pregunta o símplemente saludar, escríbenos a <a href="mailto:hola@miboky.es"> hola@miboky.es </a>
		    </p>
		    <ul>
		    	<li class=""><a href="/home/about">
                    Sobre Miboky
                </a></li>
		    	<li><a href="/privacyPolicy/index">Política de privacidad</a></li>
		    </ul>
		    <ul>
		    	<li><a href="https://www.instagram.com/miboky/" target="_BLANCK">
		    		<span class="icon-instagram"></span></a>
		    	</li>
		    	<li><a href="https://www.facebook.com/mibokyLibros/" target="_BLANCK">
		    		<span class="icon-facebook"></span></a>
		    	</li>
		    </ul>
		</div>
		<aside>
			<h1>Descarga la app</h1>
			<ul>
				<li class="android">
					<a href="https://play.google.com/store/apps/details?id=com.mibokyapp">
						<span class="sr-only"> GooglePlay </span>
					</a></li>
				<li class="ios">
					<a href="https://itunes.apple.com/us/app/miboky/id1266744519?l=es&amp;ls=1&amp;mt=8">
						<span class="sr-only"> AppStore </span>
					</a></li>
			</ul>
		</aside>
	</section>
</footer>