<script>
  $( ".card" ).click(function() {
     $(this).toggleClass("nombre")
  });
</script>
    <!-- {{ partial "mobile_nav_toggle.html" . }} -->
        <div class="content">

        {{ range (where .Data.Pages "Section" "portfolio") }}

      {{ if (or (eq .Params.showonlyimage true) (not (isset .Params "image"))) }} 
          {{ if (not (eq .Params.showonlyimage true)) }} 
           <article class="article">
            <a href="{{ .Permalink }}" title="">
              {{ else }}
             <article class="article onlyimage">  
              <div class="card">
           {{ end }} 

          {{ else }}
            <article class="article stand-out">
              <a href="{{ .Permalink }}" title="">
          {{ end }}    
          {{ if and (isset .Params "image") .Params.image }}
            <div class="media">
                  <img src="{{ .Params.image }}" alt="">  
            </div>           
          {{ end }}    
            {{ if (eq .Params.showonlyimage false) }} 
            <div class="article-body">
            {{ else }}
            <div class="article-body">
            {{ end }}
                <h1 class="title">{{ .Title }}</h1>
                <div class="lead">
                    {{ .Summary }}
                </div>
            </div>
          {{ if (eq .Params.showonlyimage false) }} 
          </a>
          {{ else }}
            </div>
         {{ end }} 

         {{ with .Params.Tags }}
          <div class="tags">
            <div>
              <ul>
                {{ delimit (apply (sort .) "partial" "tag-link" ".") "" "" }}
              </ul>
            </div>
          </div>
          {{ end }}

          </article>

        {{ end }}
    </div>



          
  
                 
