<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/jquery.cookie.js" | absURL }}"> </script>
<script src="{{ "js/ekko-lightbox.js" | absURL }}"></script>
<script src="{{ "js/jquery.scrollTo.min.js" | absURL }}"></script>
<script src="{{ "js/imagesloaded.pkgd.min.js" | absURL }}"></script>
<script>
$(".card").click(function() {
   $(this).toggleClass("toggle")
});

function sendDocumentHeightMessage() {
    var height = document.getElementsByTagName("html")[0].scrollHeight;
    window.parent.postMessage(["setHeight", height], "*");
}
  
$(window).resize(sendDocumentHeightMessage);
$(window).trigger("resize");

var disqusInterval = setInterval(function() {
    var disqusHeight = $('#disqus_thread').height();
    if ( disqusHeight > 52 ) {  // height 52px is header of Disqus, more than 52px means that disqus load comments
	console.log("Disqus loaded! Sending height to parent");
        sendDocumentHeightMessage();
        clearInterval(disqusInterval); // after loaded comment we stop this script
    }
}, 100);
</script>


